h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333333 !important;
}

h1 {
	font-size: 2rem !important;
}

h2 {
	font-size: 1.6rem !important;
}

h3 {
	font-size: 1.3rem !important;
}

p {
	color: #666666 !important;
	font-family: 'Kohinoor' !important;
	font-size: 1.1rem !important;
	text-align: justify !important;
	line-height: 1.6 !important;
}
